DATABASE_URL=sqlite:////data/media_library.sqlite3
JELLYFIN_URL=https://jellyfin.melhornegocio.shop
JELLYFIN_API_KEY=
SESSION_SECRET=gere-um-segredo-aleatorio-com-pelo-menos-32-caracteres
COOKIE_SECURE=true
FROST_MANIFEST_URL=https://froststream.cloutteam.com/manifest.json
BESTCINE_MANIFEST_URL=https://bestcine.dpdns.org/manifest.json
MEDIA_ROOT=/media/stream media
